/*  */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*   own font */
@font-face {
  font-family: "bla";
  src: url("/src/assets/fonts/bla.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/*  normal CSS */
::selection {
  background-color: #ff8863;
  color: white;
}

/*  Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
